header {
    /* height: 50px; */
    width: 100%;
    background-color: lightblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header h1 {
    margin: 30px;
    padding: 30px;
    background-color: lightblue;

}
/* top navigation bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightblue;
}

li {
  float: right;
}

li a {
  font-size: 20px;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: white;
}

.active {
  background-color: white;
}

/* Main area! */
main {
  height: 800px;
  background-color: black;
  display: flex;
  flex-flow: column nowrap;
  /* justify-content: center; */
  align-items: center;
  color: white;
}

main p {
    width: 50%;
    font-size: 2vw;
    /* text-indent: 4%; */
    margin: 0.6%;
    text-align: center;
}

main label {
  font-size: 5rem;
  margin-top: 40px;
  margin-bottom: 20px;
}

input {
    border: 5px solid lightblue;
}

.submit-button {
  width: 350px;
  height: auto;
  background-color: white;
/*   margin: 20vh auto; */
  /* position: absolute; */
  /* top: 90%; */
  /* left: 50%; */
  transform: translate(-50%, -50%);
  border-radius: 4rem;
  padding: 10px;
}

button p {
    margin: 0;
    font-weight: 1000;
    font-size: larger;
}



/* footer */

footer {
  font-size: 20px;
  text-align: center;
  padding-top: 17px;
  height: 40px;
  background-color: lightblue;
  color: black;
}